<div>
    <% if (uid !== 'j:null') {%>
        <p>Your current UID: <%= uid %> </p>
    <% } %>
<% if (Object.keys(data.inventory).length === 0) { %>
    <p>You don't have anything.</p>
<% } else { %>
    <table>
        <tr>
            <th>Name</th>
            <th>Content</th>
        </tr>
        <% for (item of Object.keys(data.inventory)) {%>
            <tr>
                <td>
                    <%= item %>
                </td>
                <td>
                    <%= data.inventory[item] %>
                </td>
                <td>
                    <a href="/editor/<%=item%>/<%=data.inventory[item]%>">Edit</a>
                </td>
                <td>
                    <a href="/delete/<%=item%>%>">Delete</a>
                </td>
            </tr>
            <%}%>
    </table>
<% } %>
</div>
<div>
    <a href="/editor/%20/%20">Create new entry</a>
</div>